footer {
    background-image: url(../assets/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    & > h3 {
        font: var(--subtitle);
        color: var(--purple);
    }

    & > h2 {
        font: var(--title-md);
        color: var(--grau-600);
        margin-block: .5rem;
    }

    & > p {
        font: var(--text-md);
        color: var(--gray-500);
        margin-bottom: 3rem;
    }
}

.social-button {
    gap: 1rem;
}

.card-social {
    display: flex;
    align-items: center;
    gap: .75rem;

    padding: 1.25rem;
    background-color: var(--gray-300);
    border-radius: .5rem;

    width: 25rem;
    transition: .3s;

    & > p {
        font: var(--text-md);
        font-weight: 500;
        color: var(--gray-500);
        width: 78%;
    }

    &:hover {
        outline: 1.5px solid var(--blue);
    }

    &:hover > img {
        filter: invert(46%) sepia(77%) saturate(354%) hue-rotate(178deg) brightness(90%) contrast(100%);
    }
}